<template>
  <div>
    <a-form-model-item :label="label" prop="name">
      <a-input v-model="model" />
    </a-form-model-item>
  </div>
</template>

<script>
export default {
  name: 'BuildComponent',
  props: {
    label: {
      type: String,
      required: true
    },
    model: {
      type: String,
      required: true
    }
  },
  data () {
    return {}
  }
}
</script>
