<template>
  <a-row class="content-form">
    <a-col :xs="24">
      <h2>Deal Type</h2>
      <p>
        Select the deal type that fits your current round.
      </p>

      <a-row :gutter="16" style="padding-bottom: 20px;">
        <a-col
          v-for="item in deals"
          :key="item.name"
          style="padding-bottom: 10px;"
          :xs="24"
          :md="8"
        >
          <a-card
            hoverable
            :style="dealClass(item.name)"
            @click="selectDeal(item.name)"
          >
            <div
              slot="cover"
              :style="`background-color: ${item.bgColor}; min-height: 100px;`"
            >
              <h2 style="color: #fff; text-align: center; padding-top: 40px;">
                {{ item.name }}
              </h2>
            </div>
            <a-card-meta style="min-height: 70px;">
              <template slot="description" style="text-align: center;">
                {{ item.desc }}
              </template>
            </a-card-meta>
          </a-card>
        </a-col>
      </a-row>

      <a-form-model layout="vertical" :model="company.deal">
        <a-row>
          <a-col :xs="24" :md="12" style="padding-right: 20px;">
            <a-form-model-item label="Exemption Type">
              <a-select
                v-model="company.deal.exemption"
                placeholder="Select Exemption Type"
              >
                <a-select-option value="A">
                  Reg A
                </a-select-option>
                <a-select-option value="D">
                  Reg D
                </a-select-option>
              </a-select>
            </a-form-model-item>
          </a-col>

          <a-col
            v-if="company.deal.exemption === 'A'"
            :xs="24"
            :md="12"
            style="padding-right: 20px;"
          >
            <a-form-model-item
              label="Invest Now Button data-fa-invest-now Attribute"
            >
              <a-input v-model="company.deal.invest_button" type="text" />
            </a-form-model-item>
          </a-col>

          <a-col
            v-if="select_deal === 'Equity'"
            :xs="24"
            :md="12"
            style="padding-right: 20px;"
          >
            <a-form-model-item label="Pre-Money Valuation">
              <a-input
                v-model="company.deal.pre_money"
                type="number"
                addon-before="$"
              />
            </a-form-model-item>
          </a-col>

          <a-col
            v-if="isConvertibleOrDebt"
            :xs="24"
            :md="12"
            style="padding-right: 20px;"
          >
            <a-form-model-item label="Interest">
              <a-input
                v-model="company.deal.interest"
                type="number"
                addon-after="%"
              />
            </a-form-model-item>
          </a-col>

          <a-col
            v-if="isConvertibleOrDebt"
            :xs="24"
            :md="12"
            style="padding-right: 20px;"
          >
            <a-form-model-item label="Term Length">
              <a-input
                v-model="company.deal.term_length"
                type="number"
                addon-after="months"
              />
            </a-form-model-item>
          </a-col>

          <a-col
            v-if="isConvertibleOrSafe"
            :xs="24"
            :md="12"
            style="padding-right: 20px;"
          >
            <a-form-model-item label="Valuation Cap">
              <a-input
                v-model="company.deal.valuation"
                type="number"
                addon-before="$"
              />
            </a-form-model-item>
          </a-col>

          <a-col
            v-if="isConvertibleOrSafe"
            :xs="24"
            :md="12"
            style="padding-right: 20px;"
          >
            <a-form-model-item label="Conversion Discount">
              <a-input
                v-model="company.deal.conversion_descount"
                type="number"
                addon-after="%"
              />
            </a-form-model-item>
          </a-col>

          <a-col
            v-if="select_deal === 'Convertible Note'"
            :xs="24"
            :md="12"
            style="padding-right: 20px;"
          >
            <a-form-model-item label="Warrant Coverage">
              <a-input
                v-model="company.deal.warrant_coverage"
                type="number"
                addon-after="%"
              />
            </a-form-model-item>
          </a-col>

          <a-col
            v-if="select_deal === 'Revenue Share'"
            :xs="24"
            :md="12"
            style="padding-right: 20px;"
          >
            <a-form-model-item label="Return">
              <a-select
                v-model="company.deal.return"
                placeholder="Select Return Type"
              >
                <a-select-option value="revenues">
                  Gross Revenues
                </a-select-option>
                <a-select-option value="profits">
                  Gross Profits
                </a-select-option>
              </a-select>
            </a-form-model-item>
          </a-col>

          <a-col
            v-if="select_deal === 'Revenue Share'"
            :xs="24"
            :md="12"
            style="padding-right: 20px;"
          >
            <a-form-model-item label="Return Percentage">
              <a-input
                v-model="company.deal.return_percentage"
                type="number"
                addon-after="%"
              />
            </a-form-model-item>
          </a-col>

          <a-col
            v-if="select_deal === 'Revenue Share'"
            :xs="24"
            :md="12"
            style="padding-right: 20px;"
          >
            <a-form-model-item label="Maximum Return">
              <a-input
                v-model="company.deal.miximum_return"
                type="number"
                addon-after="x Investment Amount"
              />
            </a-form-model-item>
          </a-col>

          <a-col
            v-if="select_deal === 'Revenue Share'"
            :xs="24"
            :md="12"
            style="padding-right: 20px;"
          >
            <a-form-model-item label="Payment Frequency">
              <a-select
                v-model="company.deal.payment_frequency"
                placeholder="Select Payment Frequency"
              >
                <a-select-option value="monthly">
                  Monthly
                </a-select-option>
                <a-select-option value="bimonthly">
                  Bimonthly
                </a-select-option>
                <a-select-option value="quarterly">
                  Quarterly
                </a-select-option>
              </a-select>
            </a-form-model-item>
          </a-col>

          <a-col
            v-if="select_deal === 'Revenue Share'"
            :xs="24"
            :md="12"
            style="padding-right: 20px;"
          >
            <a-form-model-item label="Payback Start Date">
              <a-select
                v-model="company.deal.payback_start_date"
                placeholder="Select Payback Date Type"
              >
                <a-select-option value="exact_date">
                  Exact Date
                </a-select-option>
                <a-select-option value="number_of_month">
                  Number of Months From Finance Close
                </a-select-option>
              </a-select>
            </a-form-model-item>
          </a-col>

          <a-col
            v-if="
              select_deal === 'Revenue Share' &&
              company.deal.payback_start_date === 'exact_date'
            "
            :xs="24"
            :md="12"
            style="padding-right: 20px;"
          >
            <a-form-model-item label="Exact Date">
              <a-date-picker
                v-model="company.deal.exact_date"
                placeholder="N/A"
              />
            </a-form-model-item>
          </a-col>

          <a-col
            v-if="
              select_deal === 'Revenue Share' &&
              company.deal.payback_start_date === 'number_of_month'
            "
            :xs="24"
            :md="12"
            style="padding-right: 20px;"
          >
            <a-form-model-item label="Number of Months">
              <a-input
                v-model="company.deal.number_of_month"
                type="number"
                addon_after="months"
              />
            </a-form-model-item>
          </a-col>
        </a-row>
      </a-form-model>
    </a-col>
  </a-row>
</template>

<script>
// import Company from '@/models/company.model'

export default {
  name: 'DetailDeal',

  props: {
    company: {
      type: Object,
      required: true
    }
  },

  mounted () {
    // this.select_deal = this.company.deal.type
    if (this.company.deal.type === undefined) {
      this.select_deal = 'Equity'
    } else {
      this.select_deal = this.company.deal.type
    }
  },

  computed: {
    dealClass () {
      return (key) => {
        if (key !== this.select_deal) {
          return ''
        }
        return 'box-shadow: 0 0 0 4px #3bb0d2;'
      }
    },

    isConvertibleOrSafe () {
      if (
        this.select_deal === 'Convertible Note' ||
        this.select_deal === 'SAFE Note'
      ) {
        return true
      } else {
        return false
      }
    },

    isConvertibleOrDebt () {
      if (
        this.select_deal === 'Convertible Note' ||
        this.select_deal === 'Debt'
      ) {
        return true
      } else {
        return false
      }
    }
  },

  data () {
    return {
      deals: [
        {
          name: 'Equity',
          desc: 'Priced equity in your company',
          bgColor: '#3cc5e0'
        },
        {
          name: 'Convertible Note',
          desc: 'Debt that can convert to equity',
          bgColor: '#fa8601'
        },
        {
          name: 'SAFE Note',
          desc:
            'A convertible security that allows investors to buy shares in a future priced round',
          bgColor: '#a03e45'
        },
        {
          name: 'Debt',
          desc: 'Borrow from investors at set interest terms',
          bgColor: '#ed635c'
        },
        {
          name: 'Revenue Share',
          desc: 'Sell a portion of your future revenues to your investors',
          bgColor: '#3ea056'
        }
      ],
      select_deal: undefined
    }
  },

  methods: {
    selectDeal (name) {
      this.select_deal = name
      this.company.deal.type = name
    }
  }
}
</script>
