<template>
  <a-row class="content-form">
    <a-col :xs="24">
      <h2>Fundraise Details</h2>
      <a-form-model layout="vertical" :model="company.detail">
        <a-row>
          <a-col :xs="24" :md="12" style="padding-right: 20px;">
            <a-form-model-item label="Campaign Visibility">
              <a-select
                v-model="company.detail.campaign"
                placeholder=" Select Campaign Visibillity"
              >
                <a-select-option value="private">
                  Private Campaign (Visible to Investors)
                </a-select-option>
                <a-select-option value="public">
                  Public Campaign (Visible to Everyone)
                </a-select-option>
              </a-select>
            </a-form-model-item>

            <a-form-model-item label="Fundraising Goal">
              <a-input
                v-model="company.detail.goal"
                type="number"
                addon-before="$"
                placeholder="Enter Fundraising Goal"
              />
            </a-form-model-item>

            <a-form-model-item label="Maximum Investment Amount">
              <a-input
                v-model="company.detail.maximum"
                type="number"
                addon-before="$"
                placeholder="Enter Maximum Investment Amount"
              />
            </a-form-model-item>

            <p>
              Is your company currently fundraising?
            </p>

            <a-form-model-item
              v-if="company.detail.is_fundraise"
              label="Date Round Opened"
            >
              <a-date-picker
                v-model="company.detail.opened"
                placeholder="N/A"
              />
            </a-form-model-item>
          </a-col>
          <a-col :xs="24" :md="12" style="padding-left: 20px;">
            <a-form-model-item label="Fundraising Stage">
              <a-select
                v-model="company.detail.stage"
                placeholder="Fundraising Stage"
              >
                <a-select-option
                  v-for="item in stage_options"
                  :key="item"
                  :value="item.text"
                >
                  {{ item.text }}
                </a-select-option>
              </a-select>
            </a-form-model-item>

            <a-form-model-item label="Minimum Investment Amount">
              <a-input
                v-model="company.detail.minimum"
                type="number"
                addon-before="$"
                placeholder="Enter Minimum Investment Amount"
              />
            </a-form-model-item>

            <a-form-model-item label="Closing Date (this can be extended)">
              <a-date-picker v-model="company.detail.dtime" />
            </a-form-model-item>

            <a-radio-group
              v-model="company.detail.is_fundraise"
              :default-value="0"
            >
              <a-radio :value="1">
                YES
              </a-radio>
              <a-radio :value="0">
                NO
              </a-radio>
            </a-radio-group>

            <a-form-model-item
              v-if="company.detail.is_fundraise"
              label="Amount Raised In Current Round"
              style="padding-top: 14px;"
            >
              <a-input
                v-model="company.detail.amount"
                type="number"
                addon-before="$"
                placeholder="Enter Amount Raised In Current Round"
              />
            </a-form-model-item>
          </a-col>
        </a-row>
      </a-form-model>
    </a-col>
  </a-row>
</template>

<script>
// import Company from '@/models/company.model'

export default {
  name: 'DetailFundraise',

  props: {
    company: {
      type: Object,
      required: true
    }
  },

  data () {
    return {
      stage_options: [
        { text: 'Pre-seed' },
        { text: 'Seed' },
        { text: 'Bridge to Series A' },
        { text: 'Series A' },
        { text: 'Bridge to Series B' },
        { text: 'Series B' },
        { text: 'Other' }
      ]
    }
  },

  methods: {}
}
</script>
