<template>
  <a-row class="content-form">
    <a-col :xs="24">
      <h2>Previous Funding</h2>
      <p>
        Add funding from previously closed rounds. Do not include funding within
        your current round.
      </p>

      <a-row
        v-for="(item, index) in company.funding"
        :key="index"
        style="
          border-bottom: 1px solid #1b1b1b;
          padding-bottom: 20px;
          margin-bottom: 10px;
        "
      >
        <a-col :span="12">
          <h2>${{ item.amount }} {{ item.type }}</h2>
          <h3>{{ item.source }}</h3>
          <p>
            {{ $moment(item.date).format("MM/DD/YYYY") }}
          </p>
        </a-col>
        <a-col :span="12">
          <a-button
            type="default"
            icon="delete"
            @click="deleteFunding(index)"
          />
        </a-col>
      </a-row>

      <div style="background-color: #ececec; padding: 20px;">
        <a-form-model
          ref="Funding"
          layout="vertical"
          :model="funding"
          :rules="rules"
        >
          <a-row>
            <a-col :xs="24" :md="12" style="padding-right: 20px;">
              <a-form-model-item label="Funding Source" prop="source">
                <a-select
                  v-model="funding.source"
                  placeholder="Select Funding Source"
                >
                  <a-select-option
                    v-for="item in soruces"
                    :key="item"
                    :value="item.text"
                  >
                    {{ item.text }}
                  </a-select-option>
                </a-select>
              </a-form-model-item>
            </a-col>

            <a-col :xs="24" :md="12" style="padding-right: 20px;">
              <a-form-model-item label="Funding Type" prop="type">
                <a-select
                  v-model="funding.type"
                  placeholder="Select Funding Type"
                >
                  <a-select-option
                    v-for="item in types"
                    :key="item"
                    :value="item.text"
                  >
                    {{ item.text }}
                  </a-select-option>
                </a-select>
              </a-form-model-item>
            </a-col>

            <a-col :xs="24" :md="12" style="padding-right: 20px;">
              <a-form-model-item label="Funding Amount" prop="amount">
                <a-input
                  v-model="funding.amount"
                  type="number"
                  addon-before="$"
                />
              </a-form-model-item>
            </a-col>

            <a-col :xs="24" :md="12" style="padding-right: 20px;">
              <a-form-model-item label="Funding Date" prop="date">
                <a-date-picker v-model="funding.date" />
              </a-form-model-item>
            </a-col>
          </a-row>
        </a-form-model>

        <div class="pull-right" style="padding-top: 40px;">
          <a-button type="primary" size="large" @click="addFunding">
            ADD PREVIOUS FUNDING SOURCE
          </a-button>
        </div>
      </div>
    </a-col>
  </a-row>
</template>

<script>
import Company from '@/models/company.model'

export default {
  name: 'DetailFunding',

  props: {
    company: {
      type: Object,
      required: true
    }
  },

  data () {
    return {
      funding: {},
      rules: {
        source: [
          {
            required: true,
            trigger: 'change'
          }
        ],
        type: [
          {
            required: true,
            trigger: 'change'
          }
        ],
        amount: [
          {
            required: true,
            trigger: 'change'
          }
        ],
        date: [
          {
            required: true,
            trigger: 'change'
          }
        ]
      },
      soruces: [
        { text: 'Self' },
        { text: 'Friends' },
        { text: 'Bank' },
        { text: 'Investor' },
        { text: 'Grant' },
        { text: 'Other' }
      ],
      types: [
        { text: 'Equity' },
        { text: 'Debt' },
        { text: 'Convertible Note' },
        { text: 'SAFE NOTE' },
        { text: 'Revenue Share' },
        { text: 'SAFT' },
        { text: 'Grant or Prize' },
        { text: 'Other' }
      ]
    }
  },

  methods: {
    async deleteFunding (index) {
      this.company.funding.splice(index, 1)

      await Company.updateToDb(this.company, this.$route.params.id)
      this.$emit('fetchData')
    },

    addFunding () {
      this.$refs.Funding.validate(async (valid) => {
        if (!valid) {
          return false
        }
        this.company.funding.push(this.funding)

        await Company.updateToDb(this.company, this.$route.params.id)
        this.$emit('fetchData')
      })
    }
  }
}
</script>
