<template>
  <a-row class="content-form">
    <a-col :xs="24">
      <a-form-model
        ref="companyAssets"
        :model="company"
        :rules="rules"
        :label-col="labelCol"
        :wrapper-col="wrapperCol"
        label-align="left"
        :colon="false"
      >
        <h2>Company Assets<span>(required)</span></h2>
        <p>Upload your logo and featured image to your profile.</p>

        <a-row>
          <a-col :xs="12">
            <h3>Logo</h3>
            <a-upload
              name="avatar"
              list-type="picture-card"
              accept=".jpeg,.jpg,.png"
              class="avatar-uploader"
              :show-upload-list="false"
              :before-upload="
                (file) => {
                  return beforeUpload('logo', file);
                }
              "
            >
              <img
                v-if="company.logo"
                :src="`/api/${company.logo}`"
                alt="avatar"
              >
              <div v-else>
                <a-icon :type="loading.logo ? 'loading' : 'plus'" />
                <div class="ant-upload-text">
                  Logo
                </div>
              </div>
            </a-upload>
          </a-col>

          <a-col :xs="12">
            <h3>Featured Image</h3>
            <a-upload
              name="avatar"
              list-type="picture-card"
              accept=".jpeg,.jpg,.png"
              class="avatar-uploader"
              :show-upload-list="false"
              :before-upload="
                (file) => {
                  return beforeUpload('featured_img', file);
                }
              "
            >
              <img
                v-if="company.featured_img"
                :src="`/api/${company.featured_img}`"
                alt="avatar"
              >
              <div v-else>
                <a-icon :type="loading.featured_img ? 'loading' : 'plus'" />
                <div class="ant-upload-text">
                  Featured Img
                </div>
              </div>
            </a-upload>
          </a-col>
        </a-row>
      </a-form-model>
    </a-col>
  </a-row>
</template>

<script>
import Company from '@/models/company.model'

export default {
  name: 'CompanyAssets',

  props: {
    company: {
      type: Object,
      required: true
    }
  },

  data () {
    return {
      labelCol: { span: 8 },
      wrapperCol: { span: 16 },
      validate: true,
      loading: {
        logo: false,
        featured_img: false
      }
    }
  },

  methods: {
    async beforeUpload (type, file) {
      const formData = new FormData()
      formData.append('type', type)
      formData.append(type, file)

      const response = await Company.uploadFile(
        formData,
        this.$route.params.id
      )

      this.company[type] = response[type]
    }
  }
}
</script>
