<template>
  <a-row class="content-form">
    <a-col :xs="24">
      <h2>Key Customers & Partners<span>(optional)</span></h2>
      <p>
        Highlight any key partners and customers you have that validate demand
        and credibility for your product or service.
      </p>
      <a-row
        v-for="(item, index) in company.partners"
        :key="index"
        style="
          border-bottom: 1px solid #1b1b1b;
          padding-bottom: 20px;
          margin-bottom: 10px;
        "
      >
        <a-col :span="3">
          <a-avatar :size="90" :src="`/api/${item.avatar}`" />
        </a-col>
        <a-col :span="12">
          <h3>{{ item.name }}</h3>
        </a-col>
        <a-col :span="9">
          <a-button
            type="default"
            icon="delete"
            @click="deletePartner(index)"
          />
        </a-col>
      </a-row>

      <a-form-model
        ref="companyPartners"
        :model="partner"
        :rules="rules"
        :label-col="labelCol"
        :wrapper-col="wrapperCol"
        label-align="left"
        :colon="false"
      >
        <a-form-model-item label="Upload Logo or Image">
          <a-upload
            name="avatar"
            :multiple="false"
            :before-upload="beforeUpload"
          >
            <a-button><a-icon type="upload" />Click to Upload</a-button>
          </a-upload>
        </a-form-model-item>
        <a-form-model-item prop="name" label="Customer / Partner Name">
          <a-input v-model="partner.name" style="float: left;" type="text" />
        </a-form-model-item>
        <a-form-model-item :wrapper-col="{ span: 24, offset: 8 }">
          <a-button type="primary" @click="addPartner">
            Add
          </a-button>
        </a-form-model-item>
      </a-form-model>
    </a-col>
  </a-row>
</template>

<script>
// import Member from "@/models/member.model";
import Company from '@/models/company.model'
import to from 'await-to-js'

export default {
  name: 'CompanyMembers',

  props: {
    company: {
      type: Object,
      required: true
    }
  },

  data () {
    return {
      partner: {
        avatar: undefined,
        name: undefined
      },
      loading: false,
      labelCol: { span: 8 },
      wrapperCol: { span: 16 },
      rules: {
        name: [
          {
            required: true,
            message: 'Please insert partner name',
            trigger: 'change'
          }
        ]
      }
    }
  },

  methods: {
    async beforeUpload (file) {
      const formData = new FormData()
      formData.append('file', file)
      const [error, filename] = await to(
        this.$axios.$post('/api/upload', formData)
      )
      if (error) {
        return
      }
      this.partner.avatar = filename.filename
    },

    async deletePartner (index) {
      this.company.partners.splice(index, 1)
      await Company.updateToDb(this.company, this.$route.params.id)
      this.$emit('fetchData')
    },

    clearPartner () {
      for (const [key] of Object.entries(this.partner)) {
        this.partner[key] = undefined
      }
    },

    addPartner () {
      this.$refs.companyPartners.validate(async (valid) => {
        if (!valid) {
          return false
        }

        this.company.partners.push(this.partner)
        await Company.updateToDb(this.company, this.$route.params.id)
        this.clearPartner()
        this.$emit('fetchData')
      })
    }
  }
}
</script>
