<template>
  <a-row class="content-form">
    <a-col :xs="24">
      <h2>Company Traction</h2>
      <p>
        List major milestones and developments specific to your company. This
        will be displayed at near the top of your company profile.
      </p>

      <a-row
        v-for="(item, index) in company.tractions"
        :key="index"
        style="
          border-bottom: 1px solid #1b1b1b;
          padding-bottom: 20px;
          margin-bottom: 10px;
        "
      >
        <a-col :span="12">
          <h3>{{ item.data }}</h3>
          <p>{{ $moment(item.dtime).format("MM/DD/YYYY") }}</p>
        </a-col>
        <a-col :span="12">
          <a-button
            type="default"
            icon="delete"
            @click="deleteTraction(index)"
          />
        </a-col>
      </a-row>

      <div style="background-color: #ececec; padding: 20px;">
        <a-form-model ref="companyTraction" :model="traction" :rules="rules">
          <a-form-model-item prop="dtime">
            <a-date-picker v-model="traction.dtime" />
          </a-form-model-item>

          <a-form-model-item>
            <a-textarea v-model="traction.data" placeholder="traction text" />
          </a-form-model-item>
        </a-form-model>

        <div class="pull-right" style="padding-top: 40px;">
          <a-button type="primary" size="large" @click="addTraction">
            ADD TRACTION
          </a-button>
        </div>
      </div>
    </a-col>
  </a-row>
</template>

<script>
import Company from '@/models/company.model'

export default {
  name: 'CompanyTraction',

  props: {
    company: {
      type: Object,
      required: true
    }
  },

  data () {
    return {
      traction: {
        dtime: undefined,
        data: undefined
      },
      rules: {
        dtime: [
          {
            required: true,
            message: 'Please select a date',
            trigger: 'change'
          }
        ]
      }
    }
  },

  methods: {
    addTraction () {
      this.$refs.companyTraction.validate(async (valid) => {
        if (!valid) {
          return false
        }

        this.company.tractions.push(this.traction)

        await Company.updateToDb(this.company, this.$route.params.id)
        this.clearTraction()
        this.$emit('fetchData')
      })
    },

    clearTraction () {
      for (const [key] of Object.entries(this.traction)) {
        this.traction[key] = undefined
      }
    },

    async deleteTraction (index) {
      this.company.tractions.splice(index, 1)
      await Company.updateToDb(this.company, this.$route.params.id)
      this.$emit('fetchData')
    }
  }
}
</script>
