<template>
  <a-row class="content-form">
    <a-col :xs="24">
      <h2>Company Video<span>(optional)</span></h2>
      <p>
        Your video is one of the most effective ways to tell your story. Tell us
        about the problem your business solves and include a demo of your
        product or service if applicable. Whenever possible, feature yourself
        and your co-founders in the video as an opportunity for supporters to
        meet the real people behind your company.
      </p>
      <a-row>
        <a-col :xs="12">
          <iframe
            width="80%"
            height="100%"
            :src="youtube_key"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          />
        </a-col>
        <a-col :xs="12">
          <a-form-model
            ref="companyVideo"
            layout="inline"
            :model="company"
            :rules="rules"
          >
            <a-form-model-item prop="youtube">
              <a-input v-model="company.video_url" placeholder="YouTube URL" />
            </a-form-model-item>
            <a-form-model-item>
              <a-button type="primary">
                Add
              </a-button>
            </a-form-model-item>
            <a-form-model-item v-if="company.video_url">
              <a-button
                type="danger"
                @click="
                  () => {
                    company.video_url = undefined;
                  }
                "
              >
                Remove
              </a-button>
            </a-form-model-item>
          </a-form-model>
        </a-col>
      </a-row>
    </a-col>
  </a-row>
</template>

<script>
import Company from '@/models/company.model'

export default {
  name: 'CompanyVideo',

  props: {
    company: {
      type: Object,
      required: true
    }
  },

  computed: {
    youtube_key () {
      if (!this.company.video_url) {
        return 'https://www.youtube.com/embed'
      }
      const youtubeRegEx = RegExp(
        '^((?:https?:)?\\/\\/)?((?:www|m)\\.)?((?:youtube\\.com|youtu.be))(\\/(?:[\\w\\-]+\\?v=|embed\\/|v\\/)?)([\\w\\-]+)(\\S+)?$'
      )
      if (!youtubeRegEx.test(this.company.video_url)) {
        return 'https://www.youtube.com/embed'
      }
      const index = this.company.video_url.indexOf('=')
      return (
        'https://www.youtube.com/embed/' +
        this.company.video_url.substring(
          index + 1,
          this.company.video_url.length
        )
      )
    }
  },

  data () {
    const validateYoutube = (rule, value, callback) => {
      const youtubeRegEx = RegExp(
        '^((?:https?:)?\\/\\/)?((?:www|m)\\.)?((?:youtube\\.com|youtu.be))(\\/(?:[\\w\\-]+\\?v=|embed\\/|v\\/)?)([\\w\\-]+)(\\S+)?$'
      )

      if (!youtubeRegEx.test(value)) {
        callback(new Error('Please enter a valid Video URL'))
      }

      callback()
    }

    return {
      labels: Company.labels(),
      rules: {
        youtube: [
          {
            validator: validateYoutube,
            trigger: 'change'
          }
        ]
      }
    }
  }
}
</script>
