<template>
  <a-row class="content-form">
    <a-col :xs="24">
      <h2>Press<span>(optional)</span></h2>
      <a-row
        v-for="(item, index) in company.press"
        :key="index"
        style="
          border-bottom: 1px solid #1b1b1b;
          padding-bottom: 20px;
          margin-bottom: 10px;
        "
      >
        <a-col :span="12">
          <a :href="item.url">Press {{ index + 1 }}</a>
        </a-col>
        <a-col :span="12">
          <a-button type="default" icon="delete" @click="deletePress(index)" />
        </a-col>
      </a-row>

      <a-form-model ref="companyPress" :model="press" :rules="rules">
        <a-row>
          <a-col :xs="12">
            <a-form-model-item prop="url">
              <a-input v-model="press.url" placeholder="Add Press URL" />
            </a-form-model-item>
          </a-col>
          <a-col :xs="12" style="padding-left: 20px;">
            <a-form-model-item>
              <a-button type="primary" @click="addPress">
                Add
              </a-button>
            </a-form-model-item>
          </a-col>
        </a-row>
      </a-form-model>
    </a-col>
  </a-row>
</template>

<script>
import Company from '@/models/company.model'
// import getTitleAtUrl from 'get-title-at-url'
// import to from 'await-to-js'

export default {
  name: 'CompanyPress',

  props: {
    company: {
      type: Object,
      required: true
    }
  },

  data () {
    return {
      press: {
        title: undefined,
        url: undefined
      },
      rules: {
        url: [
          {
            required: true,
            type: 'url',
            message: 'Please insert a url',
            trigger: 'change'
          }
        ]
      }
    }
  },

  methods: {
    addPress () {
      this.$refs.companyPress.validate(async (valid) => {
        if (!valid) {
          return false
        }

        this.company.press.push(this.press)

        await Company.updateToDb(this.company, this.$route.params.id)
        this.clearPress()
        this.$emit('fetchData')
      })
    },

    clearPress () {
      for (const [key] of Object.entries(this.press)) {
        this.press[key] = undefined
      }
    },

    async deletePress (index) {
      this.company.press.splice(index, 1)
      await Company.updateToDb(this.company, this.$route.params.id)
      this.$emit('fetchData')
    }
  }
}
</script>
