<template>
  <a-row class="content-form">
    <a-col :xs="24">
      <a-form-model
        ref="companyOverview"
        :model="company"
        :rules="rules"
        layout="vertical"
        label-align="left"
        :colon="false"
      >
        <h2>Company Overview</h2>
        <p>
          Your company overview is what lets investors know what your company is
          about and why it's unique. Answering questions like why you started
          your company, what problem your company solves, and why your company
          will be successful can help get the attention of investors.
        </p>
        <a-form-model-item ref="overview" prop="overview">
          <client-only>
            <quill-editor
              ref="editor"
              v-model="company.overview"
              :options="editorOption"
            />
          </client-only>
        </a-form-model-item>
      </a-form-model>
    </a-col>
  </a-row>
</template>

<script>
import Company from '@/models/company.model'

export default {
  name: 'CompanyOverview',

  props: {
    company: {
      type: Object,
      required: true
    }
  },

  data () {
    return {
      labels: Company.labels(),
      labelCol: { span: 8 },
      wrapperCol: { span: 16 },
      rules: {
        overview: [
          {
            required: true,
            trigger: 'change'
          }
        ]
      },
      editorOption: {
        modules: {
          toolbar: [
            ['bold', 'italic', 'underline', 'strike'],
            ['blockquote', 'code-block'],
            ['link', 'image']
          ]
        }
      },
      validate: true
    }
  },

  methods: {
    isValid () {
      this.$refs.companyOverview.validate((valid, error) => {
        console.log(valid)
        if (valid === false) {
          for (const [key] of Object.entries(error)) {
            this.$refs[key].$el.scrollIntoView()
            break
          }
        }
        this.validate = valid
      })

      return this.validate
    }
  }
}
</script>
