<template>
  <a-row class="content-form">
    <a-col :xs="24">
      <h2>Team Members</h2>
      <p>
        Add your team members and advisors so that people know who is involved.
        Each stakeholder represents a powerful and personal way to demonstrate
        the strength of your company.
      </p>
      <a-row
        v-for="(item, index) in company.members"
        :key="index"
        style="
          border-bottom: 1px solid #1b1b1b;
          padding-bottom: 20px;
          margin-bottom: 10px;
        "
      >
        <a-col :span="3">
          <a-avatar :size="90" :src="`/api/${item.avatar}`" />
        </a-col>
        <a-col :span="12">
          <h3>{{ item.fullname }}</h3>
          <p>Member Role: {{ item.type }}</p>
        </a-col>
        <a-col :span="9">
          <a-button type="default" icon="delete" @click="deleteMember(index)" />
        </a-col>
      </a-row>

      <a-form-model ref="companyMembers" :model="member" :rules="rules">
        <a-row>
          <a-col :xs="24" :md="12" style="padding-right: 20px;">
            <a-form-model-item prop="type" required>
              <a-select v-model="member.type" placeholder="Team Member Type">
                <a-select-option value="Leadership">
                  Leadership
                </a-select-option>
                <a-select-option value="Team Member">
                  Team Member
                </a-select-option>
                <a-select-option value="Advisor">
                  Advisor
                </a-select-option>
              </a-select>
            </a-form-model-item>

            <a-form-model-item>
              <a-upload
                name="avatar"
                list-type="picture-card"
                accept=".jpeg,.jpg,.png"
                class="avatar-uploader"
                :show-upload-list="false"
                :before-upload="beforeUpload"
                @change="handleChange"
              >
                <img v-if="imageUrl" :src="imageUrl" alt="avatar">
                <div v-else>
                  <a-icon :type="loading ? 'loading' : 'plus'" />
                  <div class="ant-upload-text">
                    Avatar
                  </div>
                </div>
              </a-upload>
            </a-form-model-item>
          </a-col>
          <a-col :xs="24" :md="12" style="padding-left: 20px;">
            <a-form-model-item>
              <a-input
                v-model="member.fullname"
                type="text"
                placeholder="First and Last Name"
              />
            </a-form-model-item>

            <a-form-model-item>
              <a-input
                v-model="member.role"
                type="text"
                placeholder="Role / Title"
              />
            </a-form-model-item>

            <a-form-model-item prop="email" required>
              <a-input v-model="member.email" placeholder="Email Address" />
            </a-form-model-item>

            <a-form-model-item>
              <a-textarea v-model="member.bio" placeholder="Team Member Bio" />
            </a-form-model-item>

            <a-form-model-item>
              <a-checkbox v-model="member.is_admin">
                Make Admin?
              </a-checkbox>
            </a-form-model-item>

            <a-form-model-item>
              <a-checkbox v-model="member.is_visible">
                Visible On Profile?
              </a-checkbox>
            </a-form-model-item>

            <a-form-model-item>
              <a-button type="primary" size="large" @click="addMember">
                ADD MEMBER TEAM
              </a-button>
            </a-form-model-item>
          </a-col>
        </a-row>
      </a-form-model>
    </a-col>
  </a-row>
</template>

<script>
import Member from '@/models/member.model'
import Company from '@/models/company.model'
// import to from 'await-to-js'

function getBase64 (img, callback) {
  const reader = new FileReader()
  reader.addEventListener('load', () => callback(reader.result))
  reader.readAsDataURL(img)
}

export default {
  name: 'CompanyMembers',

  props: {
    company: {
      type: Object,
      required: true
    }
  },

  data () {
    return {
      member: {
        type: undefined,
        avatar: undefined,
        fullname: undefined,
        email: undefined,
        bio: undefined,
        role: undefined
      },
      loading: false,
      imageUrl: '',
      validate: true,
      rules: {
        type: [
          {
            required: true,
            message: 'Please select the role for this member',
            trigger: 'change'
          }
        ],
        email: [
          {
            required: true,
            message: 'Please enter a valid email address.',
            type: 'email',
            trigger: 'change'
          }
        ]
      }
    }
  },

  methods: {
    handleChange (info) {
      if (info.file.status === 'uploading') {
        this.loading = true
        return
      }
      if (info.file.status === 'done') {
        // Get this url from response in real world.
        getBase64(info.file.originFileObj, (imageUrl) => {
          this.imageUrl = imageUrl
          this.loading = false
        })
      }
    },

    beforeUpload (file) {
      this.member.avatar = file
    },

    async deleteMember (index) {
      this.company.members.splice(index, 1)
      await Company.updateToDb(this.company, this.$route.params.id)
      this.$emit('fetchData')
    },

    addMember () {
      this.$refs.companyMembers.validate(async (valid) => {
        if (!valid) {
          return false
        }

        const formData = new FormData()

        for (const [key, value] of Object.entries(this.member)) {
          if (value !== undefined) {
            formData.append(key, value)
          }
        }
        const result = await Member.createToDb(formData)
        this.company.members.push(result._id)

        await Company.updateToDb(this.company, this.$route.params.id)
        this.$emit('fetchData')
      })
    }
  }
}
</script>
