<template>
  <a-row class="content-form">
    <a-col :xs="24">
      <a-form-model
        ref="companyCustomContent"
        :model="company"
        :rules="rules"
        layout="vertical"
        label-align="left"
        :colon="false"
      >
        <h2>Custom Content</h2>
        <a-form-model-item>
          <a-input
            v-model="company.content_title"
            type="text"
            placeholder="Title"
          />
        </a-form-model-item>

        <a-form-model-item>
          <client-only>
            <quill-editor
              ref="editor"
              v-model="company.content_data"
              :options="editorOption"
            />
          </client-only>
        </a-form-model-item>
      </a-form-model>
    </a-col>
  </a-row>
</template>

<script>
import Company from '@/models/company.model'

export default {
  name: 'CompanyCustomContent',

  props: {
    company: {
      type: Object,
      required: true
    }
  },

  data () {
    return {
      labels: Company.labels(),
      rules: {},
      editorOption: {
        modules: {
          toolbar: [
            ['bold', 'italic', 'underline', 'strike'],
            ['blockquote', 'code-block'],
            ['link', 'image']
          ]
        }
      },
      validate: true
    }
  },

  methods: {
    isValid () {
      this.$refs.companyCustomContent.validate((valid) => {
        this.validate = valid
      })

      return this.validate
    }
  }
}
</script>
