<template>
  <a-row class="content-form">
    <a-col :xs="24">
      <h2>Company SlideShare<span>(optional)</span></h2>
      <p>
        This is where you make your business case. Questions to help jumpstart
        your thinking: Who is your market? What are your differentiators? What
        makes you viable? What are your indicators of success? What are your
        plans to scale?
      </p>
      <a-row>
        <a-col :xs="12">
          <iframe
            src="https://www.slideshare.net/slideshow/embed_code/key/"
            width="80%"
            height="100%"
            frameborder="0"
            marginwidth="0"
            marginheight="0"
            scrolling="no"
            style="
              border: 1px solid #ccc;
              border-width: 1px;
              margin-bottom: 5px;
              max-width: 100%;
            "
            allowfullscreen
          />
        </a-col>
        <a-col :xs="12">
          <a-form-model
            ref="companySlideShare"
            layout="inline"
            :model="company"
            :rules="rules"
          >
            <a-form-model-item prop="slide_share">
              <a-input
                v-model="company.slide_share"
                placeholder="SlideShare URL"
              />
            </a-form-model-item>
            <a-form-model-item>
              <a-button type="primary">
                Add
              </a-button>
            </a-form-model-item>
            <a-form-model-item v-if="company.slide_share">
              <a-button
                type="danger"
                @click="
                  () => {
                    company.slide_share = undefined;
                  }
                "
              >
                Remove
              </a-button>
            </a-form-model-item>
          </a-form-model>
        </a-col>
      </a-row>
    </a-col>
  </a-row>
</template>

<script>
import Company from '@/models/company.model'

export default {
  name: 'CompanySlideShare',

  props: {
    company: {
      type: Object,
      required: true
    }
  },

  data () {
    return {
      labels: Company.labels()
    }
  }
}
</script>
