<template>
  <a-row class="content-form">
    <a-col :xs="24">
      <a-form-model
        ref="companyInfo"
        :model="company"
        :rules="rules"
        :label-col="labelCol"
        :wrapper-col="wrapperCol"
        label-align="left"
        :colon="false"
      >
        <a-form-model-item ref="name" required :label="labels.name" prop="name">
          <a-input v-model="company.name" placeholder="Your Company Name" />
        </a-form-model-item>

        <a-form-model-item ref="url" :label="labels.url" prop="url">
          <a-input
            v-model="company.url"
            placeholder="your-company-name"
            disabled
            addon-before="https://www.crowdfunder.com/"
          />
        </a-form-model-item>

        <a-form-model-item :label="labels.location">
          <a-auto-complete
            v-model="company.country"
            :data-source="countrySource"
            placeholder="Search Country"
            @search="searchCountry"
            @select="selectCountry"
          />
          <a-auto-complete
            v-model="company.city"
            :data-source="citySource"
            placeholder="Search City"
            @search="searchCity"
            @select="selectCity"
          />
        </a-form-model-item>

        <a-form-model-item :label="labels.tagline">
          <a-textarea
            v-model="company.tagline"
            placeholder="Enter text..."
            :rows="4"
          />
        </a-form-model-item>

        <a-form-model-item :label="labels.industry">
          <a-select
            v-model="company.industry"
            mode="tags"
            placeholder="Select Industries..."
          >
            <a-select-option v-for="industry in industries" :key="industry">
              {{ industry }}
            </a-select-option>
          </a-select>
        </a-form-model-item>

        <h2>Company Keywords</h2>
        <p>
          Select the keywords related to your industry that will help investors
          find you.
        </p>

        <a-form-model-item :label="labels.keywords">
          <a-select
            v-model="company.keywords"
            mode="tags"
            style="width: 100%;"
            placeholder="Enter Keywords"
          />
        </a-form-model-item>
      </a-form-model>
    </a-col>
  </a-row>
</template>

<script>
import Company from '@/models/company.model'
import Industry from '@/models/industry.model'
import Country from '@/models/country.model'
import to from 'await-to-js'
import lodash from 'lodash'

export default {
  name: 'CompanyInfo',

  props: {
    company: {
      type: Object,
      required: true
    }
  },

  data () {
    return {
      labels: Company.labels(),
      industries: Industry.getIndustries(),
      countrySource: [],
      countryValue: '',
      citySource: [],
      cityValue: '',
      labelCol: { span: 8 },
      wrapperCol: { span: 16 },
      valid: undefined,
      rules: {
        name: [
          {
            required: true,
            message: 'Company NamePlease enter the name of your company.',
            trigger: 'change'
          }
        ],
        url: [
          {
            required: true,
            message: 'Company NamePlease enter the name of your company.'
          }
        ]
      },
      validate: true
    }
  },

  methods: {
    isValid () {
      this.$refs.companyInfo.validate((valid) => {
        this.validate = valid
      })
      return this.validate
    },

    searchCountry: lodash.debounce(async function (search) {
      const [error, countries] = await to(Country.getCountries(search))
      if (error) {
        this.countrySource = []
        return
      }
      this.countrySource = countries
    }, 500),

    selectCountry (value) {
      this.company.country = value
      this.company.city = undefined
      this.citySource = []
    },

    searchCity: lodash.debounce(async function (search) {
      const country = this.company.country
      if (country === undefined || country === '') {
        this.company.city = undefined
        return
      }
      const cities = await Country.getCities(search, country)
      this.citySource = cities
    }, 500),

    selectCity (value) {
      this.company.city = value
      this.citySource = []
    }
  }
}
</script>
