<template>
  <a-row class="content-form">
    <a-col :xs="24">
      <a-form-model
        ref="companyConnect"
        :model="company"
        :rules="rules"
        :label-col="labelCol"
        :wrapper-col="wrapperCol"
        label-align="left"
        :colon="false"
      >
        <h2>Company Connect</h2>
        <p>
          Connect your social networks and website. These educate and
          demonstrate your credibility.
        </p>

        <a-form-model-item :label="labels.email" prop="email">
          <a-input v-model="company.email" placeholder="Company Email" />
        </a-form-model-item>

        <a-form-model-item :label="labels.website">
          <a-input
            v-model="company.website"
            placeholder="http://www.example.com"
          />
        </a-form-model-item>

        <a-form-model-item :label="labels.mobile" prop="mobile">
          <a-input v-model="company.mobile" placeholder="(555) 555-1212" />
          <a-checkbox>
            I agree to respond to text messages about leads and deal
            reservations and will respond to leads within 24 hours.
          </a-checkbox>
        </a-form-model-item>

        <h3>SOCIAL</h3>

        <a-form-model-item :label="labels.linked_in">
          <a-input v-model="company.linked_in" placeholder="Linked In URL" />
        </a-form-model-item>

        <a-form-model-item :label="labels.facebook">
          <a-input v-model="company.facebook" placeholder="Facebook URL" />
        </a-form-model-item>

        <a-form-model-item :label="labels.twitter">
          <a-input v-model="company.twitter" placeholder="Twitter URL" />
        </a-form-model-item>
      </a-form-model>
    </a-col>
  </a-row>
</template>

<script>
import Company from '@/models/company.model'

export default {
  name: 'CompanyConnect',

  props: {
    company: {
      type: Object,
      required: true
    }
  },

  data () {
    return {
      labels: Company.labels(),
      labelCol: { span: 8 },
      wrapperCol: { span: 16 },
      rules: {
        email: [
          {
            type: 'email',
            trigger: 'change'
          }
        ]
      },
      validate: true
    }
  },

  methods: {
    isValid () {
      this.$refs.companyConnect.validate((valid) => {
        this.validate = valid
      })

      return this.validate
    }
  }
}
</script>
