<template>
  <a-form-model
    ref="ruleForm"
    :model="company"
    :rules="rules"
    :label-col="labelCol"
    :wrapper-col="wrapperCol"
    label-align="left"
    :colon="false"
  >
    <a-form-model-item ref="name" required :label="labels.name" prop="name">
      <a-input
        v-model="company.name"
        placeholder="Your Company Name"
        @change="onChange"
      />
    </a-form-model-item>

    <a-form-model-item
      ref="url"
      :label="labels.url"
      prop="url"
      :extra="urlExtra"
    >
      <a-input
        v-model="company.url"
        placeholder="your-company-name"
        addon-before="https://www.crowdfunder.com/"
      />
    </a-form-model-item>

    <a-form-model-item :label="labels.location">
      <a-auto-complete
        v-model="company.country"
        :data-source="countrySource"
        placeholder="Search Country"
        @search="searchCountry"
        @select="selectCountry"
      />
      <a-auto-complete
        v-model="company.city"
        :data-source="citySource"
        placeholder="Search City"
        @search="searchCity"
        @select="selectCity"
      />
    </a-form-model-item>

    <a-form-model-item :label="labels.tagline">
      <a-textarea
        v-model="company.tagline"
        placeholder="Enter text..."
        :rows="4"
      />
    </a-form-model-item>

    <a-form-model-item :wrapper-col="{ span: 14, offset: 4 }">
      <a-button type="danger" size="large" @click="onSubmit">
        Save & Coutinue
      </a-button>
    </a-form-model-item>
  </a-form-model>
</template>

<script>
import Company from '@/models/company.model'
import Country from '@/models/country.model'
import to from 'await-to-js'
import lodash from 'lodash'

export default {
  name: 'CreateCompany',

  data () {
    return {
      company: {
        name: undefined,
        url: undefined,
        country: undefined,
        city: undefined,
        tagline: undefined
      },
      labels: Company.labels(),
      countrySource: [],
      countryValue: '',
      citySource: [],
      cityValue: '',
      labelCol: { span: 4 },
      wrapperCol: { span: 14 },
      rules: {
        name: [
          {
            required: true,
            message: 'Company NamePlease enter the name of your company.',
            trigger: 'change'
          }
        ],
        url: [
          {
            required: true,
            message: 'Company NamePlease enter the name of your company.'
          }
        ]
      },
      urlExtra:
        'Customize your Crowdfunder Company Profile web address. You may include letters, numbers, dashes (-), or underscores (_) only.'
    }
  },

  methods: {
    onSubmit () {
      this.$refs.ruleForm.validate(async (valid) => {
        if (!valid) {
          console.log('error submit!')
          return false
        }
        const result = await Company.createToDb(this.company)
        // const [error] = await to(Company.createToDb(this.company))
        // if (error) {
        //   return false
        // }
        this.$router.push('/company/' + result._id + '/basic')
      })
    },

    searchCountry: lodash.debounce(async function (search) {
      const [error, countries] = await to(Country.getCountries(search))
      if (error) {
        this.countrySource = []
        return
      }
      this.countrySource = countries
    }, 500),

    selectCountry (value) {
      this.company.country = value
      this.company.city = undefined
      this.citySource = []
    },

    searchCity: lodash.debounce(async function (search) {
      const country = this.company.country
      if (country === undefined || country === '') {
        this.company.city = undefined
        return
      }
      const cities = await Country.getCities(search, country)
      this.citySource = cities
    }, 500),

    selectCity (value) {
      this.company.city = value
      this.citySource = []
    },

    onChange (value) {
      this.company.url = this.company.name
    }
  }
}
</script>
