<template>
  <a-steps>
    <a-step title="Create Company Profile" />
    <a-step title="Build Fundraising Campaign" />
    <a-step title="Choose Package" />
  </a-steps>
</template>

<script>
export default {
  name: 'Stepper'
}
</script>
