<template>
  <a-row class="content-form">
    <a-col :xs="24">
      <h2>Deal Documents</h2>
      <p>
        An executive summary and term sheet are required. You can add any
        additional documents and mark them as Confidential to control investor
        access. 15MB upload limit per document.
      </p>

      <a-row
        v-for="(item, index) in company.documents"
        :key="index"
        style="
          border-bottom: 1px solid #1b1b1b;
          padding-bottom: 20px;
          margin-bottom: 10px;
        "
      >
        <a-col :span="10">
          <h2>{{ item.type }}</h2>
          <p>{{ item.file }}</p>
        </a-col>
        <a-col :span="10">
          <h2>{{ item.access }}</h2>
        </a-col>
        <a-col :span="4">
          <a-button
            type="default"
            icon="delete"
            @click="deleteDocument(index)"
          />
        </a-col>
      </a-row>

      <div style="background-color: #ececec; padding: 20px;">
        <a-form-model
          ref="Documents"
          layout="vertical"
          :model="document"
          :rules="rules"
        >
          <a-row>
            <a-col :xs="24" :md="12" style="padding-right: 20px;">
              <a-form-model-item prop="type">
                <a-select
                  v-model="document.type"
                  placeholder="Select Document Type"
                >
                  <a-select-option
                    v-for="item in types"
                    :key="item"
                    :value="item.text"
                  >
                    {{ item.text }}
                  </a-select-option>
                </a-select>
              </a-form-model-item>
            </a-col>

            <a-col :xs="24" :md="8">
              <a-form-model-item>
                <a-radio-group
                  v-model="document.access"
                  default-value="private"
                >
                  <a-radio-button value="public">
                    All Access
                  </a-radio-button>
                  <a-radio-button value="private">
                    Confidential
                  </a-radio-button>
                </a-radio-group>
              </a-form-model-item>
            </a-col>

            <a-col :xs="24" :md="4">
              <a-form-model-item>
                <a-upload
                  name="file"
                  :multiple="false"
                  :before-upload="beforeUpload"
                >
                  <a-button><a-icon type="upload" />BROWSE</a-button>
                </a-upload>
              </a-form-model-item>
            </a-col>
          </a-row>
        </a-form-model>
      </div>
    </a-col>
  </a-row>
</template>

<script>
import Company from '@/models/company.model'
import to from 'await-to-js'

export default {
  name: 'DocumentsDeal',

  props: {
    company: {
      type: Object,
      required: true
    }
  },

  data () {
    return {
      document: {},
      types: [
        { text: 'Disclosures' },
        { text: 'Purchase Agreement' },
        { text: 'Certificate/Articles or Incorporation' },
        { text: 'Bylaws' },
        { text: 'Rights Agreement' },
        { text: 'Material Disclosures' },
        { text: 'Material Contracts' },
        { text: 'Cap Table' },
        { text: 'White Paper' },
        { text: 'Contract' },
        { text: 'Offering Circular' },
        { text: 'Investor Brochure' },
        { text: '+Add Custom Document' }
      ],
      public: [
        'White Paper',
        'Contract',
        'Offering Circular',
        'Investor Brochure'
      ],
      rules: {
        type: [
          {
            required: true,
            trigger: 'change'
          }
        ]
      },
      validate: false
    }
  },

  methods: {
    async beforeUpload (file) {
      this.$refs.Documents.validate((valid) => {
        if (!valid) {
          return false
        }
        this.validate = valid
      })
      if (!this.validate) {
        return false
      }

      const formData = new FormData()
      formData.append('file', file)
      const [error, filename] = await to(
        this.$axios.$post('/api/upload', formData)
      )
      if (error) {
        return false
      }
      this.document.file = filename.filename
      this.addDocument()
    },

    async deleteDocument (index) {
      this.company.documents.splice(index, 1)

      await Company.updateToDb(this.company, this.$route.params.id)
      this.$emit('fetchData')
    },

    clearDocument () {
      for (const [key] of Object.entries(this.document)) {
        this.document[key] = undefined
      }
    },

    async addDocument () {
      this.company.documents.push(this.document)
      await Company.updateToDb(this.company, this.$route.params.id)
      this.clearDocument()
      this.$emit('fetchData')
    }
  }
}
</script>
