<template>
  <a-form :form="form" @submit="handleSubmit">
    <a-form-item :label="labels.name">
      <a-input
        v-decorator="[
          'name',
          {
            rules: [
              {
                required: true,
                message: 'Company NamePlease enter the name of your company.',
              },
            ],
          },
        ]"
        placeholder="Your Company Name"
        @change="onChange"
      />
    </a-form-item>

    <a-form-item :label="labels.url">
      <a-input
        v-decorator="[
          'url',
          {
            rules: [
              {
                required: true,
                message: 'Crowdfunder URLPlease enter valid URL.',
              },
            ],
          },
        ]"
        addon-before="https://www.crowdfunder.com/"
        placeholder="your-company-name"
        :help="tips"
      />
    </a-form-item>

    <a-form-item :label="labels.location">
      <a-auto-complete
        v-decorator="['country']"
        :data-source="countrySource"
        @search="searchCountry"
        @select="selectCountry"
      />
      <a-auto-complete
        v-decorator="['city']"
        :data-source="citySource"
        @search="searchCity"
        @select="selectCity"
      />
    </a-form-item>

    <a-form-item :label="labels.tagline">
      <a-textarea
        v-decorator="['tagline']"
        placeholder="Enter text..."
        :rows="4"
      />
    </a-form-item>

    <a-form-item>
      <a-button type="primary" html-type="submit" size="large">
        Save & Continue
      </a-button>
    </a-form-item>
  </a-form>
</template>

<script>
import Company from '@/models/company.model'
import Country from '@/models/country.model'
import to from 'await-to-js'
import lodash from 'lodash'

export default {
  name: 'CreateCompany',
  data () {
    return {
      company: Company.newValue(),
      labels: Company.labels(),
      countrySource: [],
      countryValue: '',
      citySource: [],
      cityValue: ''
    }
  },

  beforeCreated () {
    this.form = this.$form.createForm(this, { name: 'create_company' })
  },

  methods: {
    handleSubmit (e) {
      e.preventDefault()
      this.form.validateFields(async (err, fieldsValue) => {
        if (err) {
          return
        }
        const data = fieldsValue
        const [error] = await to(Company.createToDb(data))
        if (error) {
          return
        }
        this.$router.push('/company/' + Company.query().first()._id + '/basic')
      })
    },

    searchCountry: lodash.debounce(async function (search) {
      const [error, countries] = await to(Country.getCountries(search))
      if (error) {
        this.countrySource = []
        return
      }
      this.countrySource = countries
    }, 500),

    selectCountry (value) {
      this.form.setFieldsValue({ country: value })
      this.form.setFieldsValue({ city: undefined })
      this.citySource = []
    },

    searchCity: lodash.debounce(async function (search) {
      const country = this.form.getFieldValue('country')
      if (country === undefined || country === '') {
        this.form.setFieldsValue({ city: undefined })
        return
      }
      const cities = await Country.getCities(search, country)
      this.citySource = cities
    }, 500),

    selectCity (value) {
      this.form.setFieldsValue({ city: value })
      this.citySource = []
    },

    onChange (value) {
      let name = this.form.getFieldValue('name')
      if (value.data !== null) {
        name = name + value.data
      } else {
        name = name.slice(0, -1)
      }
      name = name.toLowerCase()
      this.form.setFieldsValue({ url: name })
    }
  }
}
</script>
