<template>
  <div class="container">
    <n-link :to="`/company/new`" style="font-size: 20px;">
      Create Company
    </n-link>
    <h3 :style="{ marginBottom: '16px' }">
      Companies List
    </h3>
    <a-list v-for="company in companies" :key="company" bordered>
      <a-list-item>
        <n-link :to="`/company/${company._id}/basic`">
          {{ company.name }}
        </n-link>
      </a-list-item>
    </a-list>
  </div>
</template>

<script>
import Company from '@/models/company.model'

export default {
  data () {
    return {
      companies: undefined
    }
  },

  async mounted () {
    await Company.getAll()
    this.companies = Company.all()
  }
}
</script>
