<template>
  <div>
    <a-row>
      <a-col :span="6" />
      <a-col :span="12" align="top">
        <Stepper style="padding-top: 30px; padding-bottom: 30px;" />
        <h2>PLEASE TELL US ABOUT THE COMPANY YOU ARE RAISING FUNDS FOR</h2>
        <p class="small">
          (all fields marked with an asterisk * are required)
        </p>
        <CompanyCreate />
      </a-col>
      <a-col :span="6" />
    </a-row>
  </div>
</template>

<script>
import CompanyCreate from '~/components/Form/Create'
import Stepper from '~/components/Form/Stepper'

export default {
  components: { CompanyCreate, Stepper }
}
</script>
