<template>
  <a-form-model
    ref="ruleForm"
    :model="company"
    :rules="rules"
    :label-col="labelCol"
    :wrapper-col="wrapperCol"
    label-align="left"
    :colon="false"
  >
    <a-form-model-item :label="labels.name" prop="name">
      <a-input v-model="company.name" />
    </a-form-model-item>

    <a-form-model-item :label="labels.url" prop="url">
      <a-input
        v-model="company.url"
        disabled
        addon-before="https://www.crowdfunder.com/"
      />
    </a-form-model-item>

    <a-form-model-item :label="labels.location">
      <a-auto-complete
        v-model="company.country"
        :data-source="countrySource"
        @search="searchCountry"
        @select="selectCountry"
      />
      <a-auto-complete
        v-model="company.city"
        :data-source="citySource"
        @search="searchCity"
        @select="selectCity"
      />
    </a-form-model-item>

    <a-form-item :label="labels.tagline">
      <a-textarea
        v-model="company.tagline"
        placeholder="Enter text..."
        :rows="4"
      />
    </a-form-item>

    <a-form-item :label="labels.industry">
      <a-select
        v-model="company.industry"
        mode="tags"
        style="width: 100%;"
        placeholder="Select Industries..."
      >
        <a-select-option v-for="industry in industries" :key="industry">
          {{ industry }}
        </a-select-option>
      </a-select>
    </a-form-item>

    <a-form-item :label="labels.keywords">
      <a-select
        v-model="company.keywords"
        mode="tags"
        style="width: 100%;"
        placeholder="Enter Keywords"
      />
    </a-form-item>

    <a-form-item :label="labels.email" prop="email">
      <a-input v-model="company.email" placeholder="Company Email" />
    </a-form-item>

    <a-form-item :label="labels.website" prop="website">
      <a-input v-model="company.website" placeholder="http://www.example.com" />
    </a-form-item>

    <a-form-item
      :label="labels.mobile"
      prop="mobile"
      placeholder="(555) 555-1212"
    >
      <a-input v-model="company.mobile" placeholder="(555) 555-1212" />
      <a-checkbox>
        I agree to respond to text messages about leads and deal reservations
        and will respond to leads within 24 hours.
      </a-checkbox>
    </a-form-item>

    <a-form-item :label="labels.linked_in">
      <a-input v-model="company.linked_in" placeholder="Linked In URL" />
    </a-form-item>

    <a-form-item :label="labels.facebook">
      <a-input v-model="company.facebook" placeholder="Facebook URL" />
    </a-form-item>

    <a-form-item :label="labels.twitter">
      <a-input v-model="company.twitter" placeholder="Twitter URL" />
    </a-form-item>

    <a-form-item :label="labels.logo">
      <a-upload
        name="avatar"
        list-type="picture-card"
        accept=".jpeg,.jpg,.png"
        class="avatar-uploader"
        :show-upload-list="false"
        :before-upload="
          (file) => {
            return beforeUpload('logo', file);
          }
        "
      >
        <img v-if="company.logo" :src="`/api/${company.logo}`" alt="avatar">
        <div v-else>
          <a-icon :type="loading ? 'loading' : 'plus'" />
          <div class="ant-upload-text">
            Logo
          </div>
        </div>
      </a-upload>
    </a-form-item>

    <a-form-item :label="labels.featured_img">
      <a-upload
        name="avatar"
        list-type="picture-card"
        accept=".jpeg,.jpg,.png"
        class="avatar-uploader"
        :show-upload-list="false"
        :before-upload="
          (file) => {
            return beforeUpload('featured_img', file);
          }
        "
      >
        <img
          v-if="company.featured_img"
          :src="`/api/${company.featured_img}`"
          alt="avatar"
        >
        <div v-else>
          <a-icon :type="loading ? 'loading' : 'plus'" />
          <div class="ant-upload-text">
            Featured Img
          </div>
        </div>
      </a-upload>
    </a-form-item>

    <a-form-item :label="labels.video_url">
      <a-input v-model="company.video_url" placeholder="YouTube URL" />
    </a-form-item>

    <a-form-item :label="labels.slide_share">
      <a-input v-model="company.slide_share" placeholder="SlideShare URL" />
    </a-form-item>

    <a-form-model-item :wrapper-col="{ span: 14, offset: 4 }">
      <a-button type="primary" @click="onSubmit">
        Save
      </a-button>
    </a-form-model-item>
  </a-form-model>
</template>

<script>
import Company from '@/models/company.model'
import Country from '@/models/country.model'
import Industry from '@/models/industry.model'
import lodash from 'lodash'
import to from 'await-to-js'

export default {
  name: 'EditCompany',
  data () {
    return {
      company: {},
      labels: Company.labels(),
      industries: Industry.getIndustries(),
      labelCol: { span: 4 },
      wrapperCol: { span: 14 },
      countrySource: [],
      countryValue: '',
      citySource: [],
      cityValue: '',
      loading: false,
      logoUrl: false,

      rules: {
        name: [
          {
            required: true,
            message: 'Company NamePlease enter the name of your company.'
          }
        ],
        url: [
          {
            required: true,
            message: 'Company NamePlease enter the name of your company.'
          }
        ]
      }
    }
  },

  mounted () {
    this.fetchCompany()
  },

  methods: {
    onSubmit () {
      this.$refs.ruleForm.validate(async (valid) => {
        if (!valid) {
          return false
        }
        const company = await Company.updateToDb(
          this.company,
          this.$route.params.id
        )
        console.log(company)
      })
    },

    searchCountry: lodash.debounce(async function (search) {
      const [error, countries] = await to(Country.getCountries(search))
      if (error) {
        this.countrySource = []
        return
      }
      this.countrySource = countries
    }, 500),

    selectCountry (value) {
      this.company.country = value
      this.company.city = undefined
      this.citySource = []
    },

    searchCity: lodash.debounce(async function (search) {
      const country = this.company.country
      if (country === undefined || country === '') {
        this.company.city = undefined
        return
      }
      const cities = await Country.getCities(search, country)
      this.citySource = cities
    }, 500),

    selectCity (value) {
      this.company.city = value
      this.citySource = []
    },

    async beforeUpload (type, file) {
      const formData = new FormData()
      formData.append('type', type)
      formData.append(type, file)

      const response = await Company.uploadFile(
        formData,
        this.$route.params.id
      )
      this.company[type] = response.response.data[type]
    },

    async fetchCompany () {
      await Company.findById(this.$route.params.id)
      this.company = JSON.parse(JSON.stringify(Company.query().first()))
    }
  }
}
</script>
