<template>
  <a-spin :spinning="spinning">
    <Navigation />
    <a-row v-if="isMounted" ref="rowRef" style="padding-top: 35px;">
      <a-col :span="6" />
      <a-col :xs="24" :md="12" class="content">
        <div class="page-header">
          <h2>BUILD CAMPAIGN <span>| COMPANY BASICS</span></h2>
          <p>
            Review your info below and make sure to upload your logo and a
            compelling featured image.
          </p>
          <CompanyInfo ref="companyInfo" :company="company" />
          <CompanyConnect ref="companyConnect" :company="company" />
          <CompanyAssets ref="companyAssets" :company="company" />
          <CompanyVideo ref="companyVideo" :company="company" />
          <CompanySlideShare ref="companySlideShare" :company="company" />
          <div style="float: right; margin-right: 50px;">
            <a-button type="primary" size="large" @click="onSubmit(false)">
              SAVE
            </a-button>
            <a-button type="danger" size="large" @click="onSubmit(true)">
              SAVE & NEXT
            </a-button>
          </div>
        </div>
      </a-col>
    </a-row>
  </a-spin>
</template>

<script>
import Company from '@/models/company.model'
import CompanyInfo from '~/components/Form/CompanyInfo'
import CompanyConnect from '~/components/Form/CompanyConnect'
import CompanyAssets from '~/components/Form/CompanyAssets'
import CompanyVideo from '~/components/Form/CompanyVideo'
import CompanySlideShare from '~/components/Form/CompanySlideShare'
import Navigation from '~/components/Navigation'

export default {
  name: 'EditBasic',
  components: {
    CompanyInfo,
    CompanyConnect,
    CompanyAssets,
    CompanyVideo,
    CompanySlideShare,
    Navigation
  },
  data () {
    return {
      company: {},
      spinning: false,
      isMounted: false
    }
  },

  mounted () {
    this.fetchCompany()
  },

  methods: {
    async onSubmit (isNext) {
      const infoValid = this.$refs.companyInfo.isValid()
      const connectValid = this.$refs.companyConnect.isValid()
      if (infoValid && connectValid) {
        this.spinning = true
        await Company.updateToDb(this.company, this.$route.params.id)
        this.spinning = false
        if (isNext) {
          this.$router.push('/company/' + this.$route.params.id + '/profile')
        }
      }
    },

    async fetchCompany () {
      await Company.findById(this.$route.params.id)
      this.company = JSON.parse(JSON.stringify(Company.query().first()))
      this.isMounted = true
    }
  }
}
</script>
