<template>
  <a-spin :spinning="spinning">
    <Navigation />
    <a-row ref="rowRef" style="padding-top: 35px;">
      <a-col :span="3" />
      <a-col :xs="24" :md="12" class="content">
        <div class="page-header">
          <h2>BUILD CAMPAIGN <span>| INVESTMENT DETAILS</span></h2>
          <p>
            All the details of your deal will be covered in this section. This
            is where you will define the terms of your deal and provide key
            documents.
          </p>
        </div>

        <a-collapse v-if="isMounted" v-model="activeKey" accordion>
          <a-collapse-panel
            key="1"
            header="Fundraise Details"
            @click="activeKey = 1"
          >
            <DetailFundraise :company="company" @fetchCompany="fetchCompany" />
            <DetailDeal :company="company" @fetchCompany="fetchCompany" />
            <DetailFunding :company="company" @fetchCompany="fetchCompany" />
            <div
              style="float: right; margin-right: 50px; padding-bottom: 20px;"
            >
              <a-button type="primary" size="large" @click="onSubmit(false)">
                SAVE
              </a-button>
              <a-button type="danger" size="large" @click="onSubmit(true)">
                SAVE & NEXT
              </a-button>
            </div>
          </a-collapse-panel>
          <a-collapse-panel
            key="2"
            header="Pitch Content"
            @click="activeKey = 2"
          >
            <PitchHighlights :company="company" @fetchCompany="fetchCompany" />
            <PitchElevator :company="company" @fetchCompany="fetchCompany" />
            <PitchInvestors :company="company" @fetchCompany="fetchCompany" />
            <div
              style="float: right; margin-right: 50px; padding-bottom: 20px;"
            >
              <a-button type="primary" size="large" @click="onSubmit(false)">
                SAVE
              </a-button>
              <a-button type="danger" size="large" @click="onSubmit(true)">
                SAVE & NEXT
              </a-button>
            </div>
          </a-collapse-panel>
          <a-collapse-panel
            key="3"
            header="Deal Documents"
            @click="activeKey = 3"
          >
            <DocumentsDeal :company="company" @fetchCompany="fetchCompany" />
            <div
              style="float: right; margin-right: 50px; padding-bottom: 20px;"
            >
              <a-button type="primary" size="large" @click="onSubmit(false)">
                SAVE
              </a-button>
              <a-button type="danger" size="large" @click="onSubmit(true)">
                LAUNCH CAMPAIGN
              </a-button>
            </div>
          </a-collapse-panel>
        </a-collapse>
      </a-col>
    </a-row>
  </a-spin>
</template>

<script>
import Company from '@/models/company.model'
import DetailFundraise from '~/components/Detail/Fundraise'
import DetailDeal from '~/components/Detail/Deal'
import DetailFunding from '~/components/Detail/Funding'
import PitchHighlights from '~/components/Pitch/Highlights'
import PitchElevator from '~/components/Pitch/Elevator'
import PitchInvestors from '~/components/Pitch/Investors'
import DocumentsDeal from '~/components/Documents/Deal'
import Navigation from '~/components/Navigation'

export default {
  name: 'EditInvestment',

  components: {
    DetailFundraise,
    DetailDeal,
    DetailFunding,
    PitchHighlights,
    PitchElevator,
    PitchInvestors,
    DocumentsDeal,
    Navigation
  },

  data () {
    return {
      // editorOption: {
      //   modules: {
      //     toolbar: [
      //       ["bold", "italic", "underline", "strike"],
      //       ["blockquote", "code-block"],
      //       ["link", "image"],
      //     ],
      //   },
      // },
      activeKey: 1,
      company: {},
      spinning: false,
      isMounted: false
    }
  },

  async mounted () {
    await this.fetchCompany()
    this.isMounted = true
  },

  methods: {
    async onSubmit (isNext) {
      this.spinning = true
      await Company.updateToDb(this.company, this.$route.params.id)
      this.spinning = false
      if (isNext) {
        if (this.activeKey >= 3) {
          this.$router.push('/company')
        }
        this.activeKey += 1
      }
    },

    async fetchCompany () {
      await Company.findById(this.$route.params.id)
      this.company = JSON.parse(JSON.stringify(Company.query().first()))
    }
  }
}
</script>
