<template>
  <a-spin :spinning="spinning">
    <Navigation />
    <a-row ref="rowRef" style="padding-top: 35px;">
      <a-col :span="3" />
      <a-col :xs="24" :md="12" class="content">
        <div class="page-header">
          <h2>BUILD CAMPAIGN <span>| COMPANY PROFILE</span></h2>
          <p>
            Tell a story that engages viewers and helps you stand out from the
            crowd. This is your opportunity to highlight what makes your company
            unique. This will be public. Be sure not to share any confidential
            information.
          </p>
          <CompanyOverview ref="companyOverview" :company="company" />
          <CompanyMembers
            ref="companyMembers"
            :company="company"
            @fetchData="fetchCompany"
          />
          <CompanyCustomContent ref="companyCustomContent" :company="company" />
          <CompanyTraction
            ref="companyTraction"
            :company="company"
            @fetchData="fetchCompany"
          />
          <CompanyPress
            ref="companyPress"
            :company="company"
            @fetchData="fetchCompany"
          />
          <CompanyPartners
            ref="companyPartners"
            :company="company"
            @fetchData="fetchCompany"
          />
          <div style="float: right; margin-right: 50px;">
            <a-button type="primary" size="large" @click="onSubmit(false)">
              SAVE
            </a-button>
            <a-button type="danger" size="large" @click="onSubmit(true)">
              SAVE & NEXT
            </a-button>
          </div>
        </div>
      </a-col>
    </a-row>
  </a-spin>
</template>

<script>
import Company from '@/models/company.model'
import CompanyOverview from '~/components/Form/CompanyOverview'
import CompanyCustomContent from '~/components/Form/CompanyCustomContent'
import CompanyMembers from '~/components/Form/CompanyMembers'
import CompanyTraction from '~/components/Form/CompanyTraction'
import CompanyPress from '~/components/Form/CompanyPress'
import CompanyPartners from '~/components/Form/CompanyPartners'
import Navigation from '~/components/Navigation'

export default {
  name: 'EditProfile',

  components: {
    CompanyOverview,
    CompanyMembers,
    CompanyCustomContent,
    CompanyTraction,
    CompanyPress,
    CompanyPartners,
    Navigation
  },

  data () {
    return {
      editorOption: {
        modules: {
          toolbar: [
            ['bold', 'italic', 'underline', 'strike'],
            ['blockquote', 'code-block'],
            ['link', 'image']
          ]
        }
      },
      company: {},
      spinning: false
    }
  },

  mounted () {
    this.fetchCompany()
  },

  methods: {
    async onSubmit (isNext) {
      const overviewValid = this.$refs.companyOverview.isValid()
      if (!overviewValid) {
        return false
      }
      this.spinning = true
      await Company.updateToDb(this.company, this.$route.params.id)
      this.spinning = false
      if (isNext) {
        this.$router.push('/company/' + this.$route.params.id + '/investment')
      }
    },

    async fetchCompany () {
      await Company.findById(this.$route.params.id)
      this.company = JSON.parse(JSON.stringify(Company.query().first()))
    }
  }
}
</script>
