<template>
  <header id="header-main" class="header">
    <div class="container">
      <h1>
        <nuxt-link to="/">
          <span>Crowdfunder</span>
        </nuxt-link>
      </h1>
    </div>
  </header>
</template>

<script>
export default {
  name: 'Header'
}
</script>
