<template>
  <a-row>
    <a-col :xs="24">
      <a-card hoverable>
        <a-card-grid
          v-for="item in navs"
          :key="item"
          :style="navClass(item.route)"
          @click="navClick(item.route)"
        >
          <h2>{{ item.title }}</h2>
        </a-card-grid>
      </a-card>
    </a-col>
  </a-row>
</template>

<script>
export default {
  name: 'Navigation',

  computed: {
    navClass () {
      return (key) => {
        if (!this.$route.path.includes(key)) {
          return 'text-align: center; background: #e4e4e4;'
        }
        return 'text-align: center;'
      }
    }
  },

  data () {
    return {
      navs: [
        { route: 'basic', title: 'Company Basics' },
        { route: 'profile', title: 'Company Profile' },
        { route: 'investment', title: 'Invesment Deatils' }
      ]
    }
  },

  methods: {
    navClick (route) {
      // console.log(this.$router.params)
      this.$router.push('/company/' + this.$route.params.id + `/${route}`)
    }
  }
}
</script>
