.header {
  height: 70px;
  padding: 16px 1%;
}

.container {
  width: 1170px;
}

#header-main {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99 !important;
  border-bottom: 1px solid #b1b1b1;
  box-sizing: border-box;
  transition: background-color 0.25s ease;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
a,
a:active,
a:hover,
a:visited {
  color: #3cc5e0;
}

.p-bottom-70 {
  padding-bottom: 70px;
}

h2 {
  font-size: 17px;
  font-weight: 700;
}
p.small {
  font-size: 10px;
  color: #a1a1a1;
}

.content {
  border: 1px solid #b1b1b1;
  border-radius: 4px 0 4px 4px;
  padding: 35px;
  float: left;
  min-height: 400px;
}

.sidebar {
  // width: 390px;
  // float: left;
  // position: absolute;
  // right: 0;
  border: 1px solid #b1b1b1;
  border-left: 0px;
}

.page-header {
  span {
    font-weight: 300;
  }
}
h2.page-header {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 18px;
}

p.page-header {
  font-size: 14px;
  line-height: 1.25em;
}

section {
  margin: 0 -20px;
  padding: 35px 47px 28px 20px;
  border-top: 1px dashed #b1b1b1;
}

.content-form {
  padding: 35px 47px 28px 20px;
  border-top: 1px dashed #b1b1b1;
}

.avatar-uploader > .ant-upload {
  width: 200px;
  height: 200px;
}

.tab-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  // height: 100px;
}

.flow {
  background: #f8f9f9;
  padding: 45px 0;
  color: #252525;
}

.container {
  width: 1170px !important;
}

.clearfix {
  zoom: 1;
}

.ant-calendar-picker {
  display: block;
  // line-height: 40px;
}

.pull-right {
  float: right;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  background: #3cc5e0;
  color: #fff;
}
