<template>
  <!-- <div>
    <Header />
    <Nuxt />
  </div> -->
  <div>
    <Header />
    <div class="p-bottom-70" />
    <Nuxt />
  </div>
</template>

<script>
import Header from '~/components/Header'

export default {
  components: {
    Header
  }
}
</script>
