<template>
  <a-row class="content-form">
    <a-col :xs="24">
      <h2>Elevator Pitch</h2>
      <a-form-model ref="Highlights" layout="vertical" :model="company">
        <a-form-model-item prop="elevator">
          <a-textarea v-model="company.elevator" />
        </a-form-model-item>
      </a-form-model>
    </a-col>
  </a-row>
</template>

<script>
export default {
  name: 'PitchElevator',

  props: {
    company: {
      type: Object,
      required: true
    }
  }
}
</script>
