<template>
  <a-row class="content-form">
    <a-col :xs="24">
      <h2>Deal Highlights</h2>
      <p>
        Choose the 3 most buzz-worthy highlights about your current round that
        will impress investors. This will be featured near the top of your deal.
      </p>
      <a-form-model ref="Highlights" layout="vertical" :model="company">
        <a-form-model-item prop="highlight">
          <a-input
            v-model="company.highlights[0]"
            type="text"
            placeholder="(required)"
          />
        </a-form-model-item>
        <a-form-model-item>
          <a-input v-model="company.highlights[1]" type="text" />
        </a-form-model-item>
        <a-form-model-item>
          <a-input v-model="company.highlights[2]" type="text" />
        </a-form-model-item>
      </a-form-model>
    </a-col>
  </a-row>
</template>

<script>
export default {
  name: 'PitchHighlights',
  props: {
    company: {
      type: Object,
      required: true
    }
  },

  mounted () {
    for (let i = 0; i < 3 - this.company.highlights.legth; i++) {
      this.company.highlights.push(undefined)
    }
  }
}
</script>
