<template>
  <a-row class="content-form">
    <a-col :xs="24">
      <h2>Investors</h2>

      <a-row
        v-for="(item, index) in company.investors"
        :key="index"
        style="
          border-bottom: 1px solid #1b1b1b;
          padding-bottom: 20px;
          margin-bottom: 10px;
        "
      >
        <a-col :span="12">
          <h2>{{ item.name }}</h2>
        </a-col>
        <a-col :span="12">
          <a-button
            type="default"
            icon="delete"
            @click="deleteInvestor(index)"
          />
        </a-col>
      </a-row>

      <div style="background-color: #ececec; padding: 20px;">
        <a-form-model
          ref="Investor"
          layout="vertical"
          :model="investor"
          :rules="rules"
        >
          <a-row>
            <a-col :xs="24" :md="12" style="padding-right: 20px;">
              <a-form-model-item prop="type">
                <a-select
                  v-model="investor.type"
                  placeholder="Select Funding Source"
                >
                  <a-select-option value="indivudual">
                    Individual Investor
                  </a-select-option>
                  <a-select-option value="institutional">
                    Institutional Investor
                  </a-select-option>
                </a-select>
              </a-form-model-item>
            </a-col>

            <a-col :xs="24" :md="12" style="padding-right: 20px;">
              <a-form-model-item prop="name">
                <a-input
                  v-model="investor.name"
                  type="text"
                  placeholder="First and Last Name or Company Name"
                />
              </a-form-model-item>
            </a-col>
          </a-row>
        </a-form-model>

        <div class="pull-right" style="padding-top: 40px;">
          <a-button type="primary" size="large" @click="addInvestor">
            ADD INVESTOR
          </a-button>
        </div>
      </div>
    </a-col>
  </a-row>
</template>

<script>
import Company from '@/models/company.model'

export default {
  name: 'PitchInvestors',

  props: {
    company: {
      type: Object,
      required: true
    }
  },

  data () {
    return {
      investor: {},
      rules: {
        type: [
          {
            required: true,
            trigger: 'change'
          }
        ],
        name: [
          {
            required: true,
            trigger: 'change'
          }
        ]
      }
    }
  },

  methods: {
    async deleteInvestor (index) {
      this.company.investors.splice(index, 1)
      await Company.updateToDb(this.company, this.$route.params.id)
      this.$emit('fetchData')
    },

    addInvestor () {
      this.$refs.Investor.validate(async (valid) => {
        if (!valid) {
          return false
        }

        this.company.investors.push(this.investor)
        await Company.updateToDb(this.company, this.$route.params.id)
        this.$emit('fetchData')
      })
    }
  }
}
</script>
